<body>
  <div class="container">
    <h1>Welcome to the EFRS</h1>

    <div class="button-container">
      <form class="form-container" method="post" action="{% url 'fileupload:check_file' %}">
        {% csrf_token %}
        <input type="text" name="filename" placeholder="Enter filename">
        <button type="submit">Check</button>
      </form>
      
      <div class="result-container">
        {% if filename %}
          <h3>Filename: {{ filename }}</h3>
          {% if file_exists %}
            <p>The file exists.</p>
            <a href="{{ download_url }}">Download</a>
          {% else %}
            <p>The file does not exist.</p>
          {% endif %}
        {% endif %}
      </div>
      
      <button class="goback-button" onclick="goBack()">Go Back</button>
    </div>
  </div>
</body>


<!-- <button onclick="goBack()">Go Back</button>/ -->

<script>
function goBack() {
  window.location.href='/';
  // window.history.back();
}
</script>

  



<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .result-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .result-container h3 {
    font-size: 24px;
  }
  
  .result-container p {
    font-size: 16px;
  }
  
  .result-container a {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .result-container a:hover {
    background-color: #0056b3;
  }
  
  .goback-button {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #a1f1f1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  </style>
  